Repository Chaostheorie/coderdojo-website-mirror: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Lint, CD:Red, CD:Blue

Lint:
  before_script:
  - yarn install --non-interactive --check-files  --frozen-lockfile
  script:
  - yarn dev:lint

CD:Red:
  before_script:
  - yarn install --non-interactive --check-files  --frozen-lockfile
  - mkdir -p ~/.ssh
  - eval $(ssh-agent -s)
  - echo "$KEY" > ~/.ssh/id_rsa
  - echo "$CD_HOST_KEY" >> ~/.ssh/known_hosts
  - chmod 644 ~/.ssh/known_hosts
  - chmod 700 ~/.ssh
  - chmod 600 ~/.ssh/id_rsa
  script:
  - yarn ci:domain
  ...

CD:Blue:
  before_script:
  - yarn install --non-interactive --check-files  --frozen-lockfile
  - mkdir -p ~/.ssh
  - eval $(ssh-agent -s)
  - echo "$KEY" > ~/.ssh/id_rsa
  - echo "$CD_HOST_KEY" >> ~/.ssh/known_hosts
  - chmod 644 ~/.ssh/known_hosts
  - chmod 700 ~/.ssh
  - chmod 600 ~/.ssh/id_rsa
  script:
  - yarn ci:domain
  ...

Du to du
  content/kyo-7/_index.md
Due: CD:Red, CD:Blue

Du to du
  content/kyo-6/_index.md
Due: CD:Red, CD:Blue

add Debugger
  content/kyo-7/_index.md
Due: CD:Red, CD:Blue

debugger and headings
  content/kyo-6/_index.md
Due: CD:Red, CD:Blue

add new file
  content/kyo-7/_index.md
  static/images/kyo-7/8-1-Pycharm-6.png
  static/images/kyo-7/8-1-Pycharm-7.png
  static/images/kyo-7/Tie_shoelace.png
Due: CD:Red, CD:Blue

corr
  content/kyo-7/_index.md
Due: CD:Red, CD:Blue

add network
  content/kyo-6/_index.md
Due: CD:Red, CD:Blue

corr link
  content/kyo-6/_index.md
Due: CD:Red, CD:Blue

add support for h3,h4 + fix some minor style issues
  content/contact.md
  content/dan-1/_index.md
  content/dan-2/_index.md
  content/euler/_index.md
  content/kyo-1/_index.md
  content/kyo-2/_index.md
  content/kyo-3/_index.md
  content/kyo-4/_index.md
  content/kyo-5/_index.md
  content/kyo-6/_index.md
  content/kyo-7/_index.md
  content/kyo-info/_index.md
  content/kyo-info/mentoren.md
  content/news/_index.md
  content/news/rc3.md
  sass/_fonts.scss
  sass/_layout.scss
  templates/404.html
  templates/index.html
  templates/macros/footer.html
  templates/page.html
  templates/robots.txt
  templates/section.html
  templates/shortcodes/file.html
  templates/shortcodes/wip.html
Due: Lint, CD:Red, CD:Blue

fix links in README.md
  README.md
Due: none

new pygame logo
  static/images/kyo-6/Pygame_logo-3.png
Due: none

update rc3
  content/kyo-7/_index.md
  content/news/rc3.md
Due: CD:Red, CD:Blue

renamed logo file
  static/images/kyo-6/Pygame_logo.png
Due: none

renamed logo file
  static/images/kyo-6/Pygame_logo-3.png
Due: none

python git -> png
  content/kyo-6/_index.md
Due: CD:Red, CD:Blue

logo resize
  static/images/kyo-6/Pygame_logo.png
Due: none

resize pygame logo
  content/kyo-6/_index.md
  static/images/kyo-6/Pygame.png
Due: CD:Red, CD:Blue

remove heading decoration
  sass/_layout.scss
  static/fonts/source-sans-pro-all.woff
  templates/index.html
  templates/page.html
  templates/section.html
  templates/shortcodes/wip.html
Due: Lint, CD:Red, CD:Blue

add pic and euler
  content/kyo-7/_index.md
  static/images/kyo-7/Python_string_int.jpg
  static/images/kyo-7/derMicha_Soldering_th.jpg
Due: CD:Red, CD:Blue

corr
  content/kyo-6/_index.md
  content/kyo-info/_index.md
Due: CD:Red, CD:Blue

change link
  content/kyo-6/_index.md
Due: CD:Red, CD:Blue

comment turtle
  content/kyo-7/_index.md
Due: CD:Red, CD:Blue

add docstring
  content/kyo-7/_index.md
Due: CD:Red, CD:Blue

add new date
  content/news/2021-12-12.md
Due: CD:Red, CD:Blue

add matrix-contact
  templates/index.html
Due: CD:Red, CD:Blue

update packages
  package.json
  yarn.lock
Due: Lint, CD:Red, CD:Blue

add support for env sensitive index
  README.md
  configs/chapters.toml
  content/kyo-7/_index.md
  content/kyo-info/_index.md
  content/news/featured.md
  templates/index.html
Due: Lint, CD:Red, CD:Blue

update dependencies and add belt font
  package.json
  sass/_fonts.scss
  sass/_sidebar.scss
  static/fonts/belt.ttf
  static/fonts/belt.woff
  templates/macros/nav.html
  yarn.lock
Due: Lint, CD:Red, CD:Blue

corr miss link
  content/news/rc3.md
  static/images/PyCharm_Icon.svg
Due: CD:Red, CD:Blue

corr miss link
  content/news/rc3.md
Due: CD:Red, CD:Blue

Update rc3.md
  content/news/rc3.md
Due: CD:Red, CD:Blue

Update index.html
  templates/index.html
Due: CD:Red, CD:Blue

small change
  content/kyo-7/_index.md
Due: CD:Red, CD:Blue

corr rc3
  content/news/rc3.md
Due: CD:Red, CD:Blue

fix link
  content/news/rc3.md
  templates/index.html
Due: CD:Red, CD:Blue

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: Lint, CD:Red, CD:Blue

Fix Logo
  static/images/brand.svg
Due: CD:Red, CD:Blue

added codeberg repo link, added matrix link
  content/euler/_index.md
Due: CD:Red, CD:Blue

makeing linter and Cobalt happy
  content/euler/_index.md
Due: CD:Red, CD:Blue

Path conditions:
  Lint: any of: sass/*, ts/*, package.json, configs/*, .gitlab-ci.yml
  CD:Red: any of: content/*/**, chapter.toml, content/*, templates/*, templates/**/*, static/*/**, static/*, sass/*, ts/*, config.toml, package.json, purgecss.config.js, webpack.config.js, webpack.prod.config.js, .gitlab-ci.yml
  CD:Blue: any of: content/*/**, chapter.toml, content/*, templates/*, templates/**/*, static/*/**, static/*, sass/*, ts/*, config.toml, package.json, purgecss.config.js, webpack.config.js, webpack.prod.config.js, .gitlab-ci.yml
