Repository Chaostheorie/coderdojo-website-mirror: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Lint, CD:Red, CD:Blue, CD:Rocks

Lint:
  before_script:
  - yarn install
  script:
  - yarn run lint

CD:Red:
  before_script:
  - yarn install
  - mkdir -p ~/.ssh
  - eval $(ssh-agent -s)
  - echo "$KEY" > ~/.ssh/id_rsa
  - echo "$CD_HOST_KEY" >> ~/.ssh/known_hosts
  - chmod 644 ~/.ssh/known_hosts
  - chmod 700 ~/.ssh
  - chmod 600 ~/.ssh/id_rsa
  script:
  - yarn run domain
  - yarn run ci-build
  after_script:
  ...

CD:Blue:
  before_script:
  - yarn install
  - mkdir -p ~/.ssh
  - eval $(ssh-agent -s)
  - echo "$KEY" > ~/.ssh/id_rsa
  - echo "$CD_HOST_KEY" >> ~/.ssh/known_hosts
  - chmod 644 ~/.ssh/known_hosts
  - chmod 700 ~/.ssh
  - chmod 600 ~/.ssh/id_rsa
  script:
  - yarn run domain
  - yarn run ci-build
  after_script:
  ...

CD:Rocks:
  before_script:
  - yarn install
  - mkdir -p ~/.ssh
  - eval $(ssh-agent -s)
  - echo "$KEY" > ~/.ssh/id_rsa
  - echo "$CD_HOST_KEY" >> ~/.ssh/known_hosts
  - chmod 644 ~/.ssh/known_hosts
  - chmod 700 ~/.ssh
  - chmod 600 ~/.ssh/id_rsa
  script:
  - yarn run domain
  - yarn run ci-build
  after_script:
  ...

Fehlerkorrektur
  content/kyo-7/_index.md
Due: CD:Red, CD:Blue, CD:Rocks

update formatting
  content/copyright.md
  package.json
  sass/_layout.scss
  sass/_variables.scss
  templates/404.html
  templates/copyright.html
  templates/index.html
  templates/macros/meta.html
  templates/macros/toc.html
  templates/old/nav.html
  templates/section-news.html
  templates/shortcodes/card.html
  templates/shortcodes/container.html
  templates/shortcodes/domain.html
  templates/shortcodes/dt.html
  templates/shortcodes/figure.html
  templates/shortcodes/file.html
  templates/shortcodes/heading.html
  templates/shortcodes/ibutton.html
  templates/shortcodes/jumbotron.html
  templates/shortcodes/static.html
Due: Lint, CD:Red, CD:Blue, CD:Rocks

change background
  sass/_layout.scss
  yarn.lock
Due: Lint, CD:Red, CD:Blue, CD:Rocks

fix background (2)
  sass/_layout.scss
  templates/base.html
Due: Lint, CD:Red, CD:Blue, CD:Rocks

attempt to resolve #12
  .gitignore
  package.json
  sass/_main.scss
  sass/_variables.scss
  static/css/fonts/bootstrap-icons.woff
  static/css/fonts/bootstrap-icons.woff2
  static/fonts/bootstrap-icons.woff
  static/fonts/bootstrap-icons.woff2
  static/main.css
  templates/base.html
  yarn.lock
Due: Lint, CD:Red, CD:Blue, CD:Rocks

undo parallel pre:global
  package.json
Due: Lint, CD:Red, CD:Blue, CD:Rocks

remove source map for prod:compile-sass
  package.json
Due: Lint, CD:Red, CD:Blue, CD:Rocks

update prettier config
  .gitlab-ci.yml
  README.md
  configs/.prettierrc.json
  configs/prettier.toml
  configs/webpack.config.js
  content/copyright.md
  content/euler/_index.md
  content/kyo-7/_index.md
  content/kyo-info/_index.md
  content/news/2021-08-06.md
  content/news/featured.md
  content/privacy.md
  package.json
  ts/compress.ts
  ts/main.ts
Due: Lint, CD:Red, CD:Blue, CD:Rocks

update copright.html with fallback for nord
  templates/copyright.html
Due: CD:Red, CD:Blue, CD:Rocks

solve conflicts
  content/kyo-7/_index.md
Due: CD:Red, CD:Blue, CD:Rocks

add egy calc
  content/kyo-7/_index.md
Due: CD:Red, CD:Blue, CD:Rocks

add video
  content/euler/_index.md
Due: CD:Red, CD:Blue, CD:Rocks

add ending sentence
  content/kyo-info/_index.md
Due: CD:Red, CD:Blue, CD:Rocks

new excercise
  content/kyo-7/_index.md
Due: CD:Red, CD:Blue, CD:Rocks

corr
  content/kyo-7/_index.md
Due: CD:Red, CD:Blue, CD:Rocks

fixed a CD bug / add audio widget
  configs/postcss.config.js
  content/euler/_index.md
  content/kyo-7/_index.md
  content/news/_index.md
  package.json
  sass/_interactive.scss
  sass/shikwasa/README.md
  sass/shikwasa/base.scss
  sass/shikwasa/chapters.scss
  templates/base.html
  templates/page.html
  templates/shortcodes/audio.html
  ts/main.ts
  ts/types/missing.d.ts
  yarn.lock
Due: Lint, CD:Red, CD:Blue, CD:Rocks

DRY scss
  sass/shikwasa/base.scss
Due: none

fix formatting
  sass/shikwasa/base.scss
Due: none

fix padding
  templates/page.html
Due: CD:Red, CD:Blue, CD:Rocks

fix pading (2)
  templates/404.html
  templates/index.html
  templates/section-news.html
  templates/section.html
Due: CD:Red, CD:Blue, CD:Rocks

add summary
  content/kyo-7/_index.md
Due: CD:Red, CD:Blue, CD:Rocks

addition summarary
  content/kyo-7/_index.md
Due: CD:Red, CD:Blue, CD:Rocks

add audio files
  content/privacy.md
Due: CD:Red, CD:Blue, CD:Rocks

first steps kyo-6
  content/kyo-6/_index.md
  content/kyo-7/_index.md
Due: CD:Red, CD:Blue, CD:Rocks

first steps kyo-6 incl format
  content/kyo-6/_index.md
  content/kyo-7/_index.md
Due: CD:Red, CD:Blue, CD:Rocks

add Screenshot
  static/images/arcarde_1.png
Due: CD:Red, CD:Blue, CD:Rocks

further text
  content/kyo-6/_index.md
Due: CD:Red, CD:Blue, CD:Rocks

add mp3
  content/kyo-info/_index.md
Due: CD:Red, CD:Blue, CD:Rocks

make chapters optional
  templates/shortcodes/audio.html
Due: CD:Red, CD:Blue, CD:Rocks

add rule audio player to purgeCSS
  configs/postcss.config.js
Due: none

fix formatting
  configs/postcss.config.js
  content/privacy.md
  package.json
Due: Lint, CD:Red, CD:Blue, CD:Rocks

add mentoren
  content/kyo-info/mentoren.md
Due: CD:Red, CD:Blue, CD:Rocks

add mentoren
  configs/chapters.toml
Due: none

Path conditions:
  Lint: any of: sass/*, ts/*, package.json, .stylelintrc.json, .eslintrc.json
  CD:Red: any of: content/*/**, chapter.toml, content/*, templates/*, templates/**/*, static/*/**, static/*, sass/*, ts/*, config.toml, package.json, purgecss.config.js, webpack.config.js, webpack.prod.config.js, .gitlab-ci.yml
  CD:Blue: any of: content/*/**, chapter.toml, content/*, templates/*, templates/**/*, static/*/**, static/*, sass/*, ts/*, config.toml, package.json, purgecss.config.js, webpack.config.js, webpack.prod.config.js, .gitlab-ci.yml
  CD:Rocks: any of: content/*/**, chapter.toml, content/*, templates/*, templates/**/*, static/*/**, static/*, sass/*, ts/*, config.toml, package.json, purgecss.config.js, webpack.config.js, webpack.prod.config.js, .gitlab-ci.yml
