Repository Chaostheorie/coderdojo-website-mirror: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Lint, CD:Red, CD:Blue

Lint:
  stage: Testing
  before_script:
  - pnpm i --frozen-lockfile
  script:
  - pnpm lint

CD:Red:
  tags:
  - helium
  before_script:
  - pnpm i --frozen-lockfile
  - mkdir -p ~/.ssh
  - eval $(ssh-agent -s)
  - echo "$KEY" > ~/.ssh/id_rsa
  - echo "$KEY" | sha256sum
  - echo "$CD_HOST_KEY" >> ~/.ssh/known_hosts
  - chmod 644 ~/.ssh/known_hosts
  - chmod 700 ~/.ssh
  - chmod 600 ~/.ssh/id_rsa
  script:
  ...

CD:Blue:
  tags:
  - helium
  before_script:
  - pnpm i --frozen-lockfile
  - mkdir -p ~/.ssh
  - eval $(ssh-agent -s)
  - echo "$KEY" > ~/.ssh/id_rsa
  - echo "$KEY" | sha256sum
  - echo "$CD_HOST_KEY" >> ~/.ssh/known_hosts
  - chmod 644 ~/.ssh/known_hosts
  - chmod 700 ~/.ssh
  - chmod 600 ~/.ssh/id_rsa
  script:
  ...

corr links
  src/routes/posts/workshops/Arduino_II.md
Due: none

small corr
  src/routes/posts/workshops/Arduino_II.md
Due: none

corr arduino II
  src/routes/posts/news/2024-05-25.md
Due: none

change tip info
  src/routes/posts/workshops/Arduino_II.md
Due: none

chng new mentors
  src/routes/about.md
Due: Lint, CD:Red, CD:Blue

linter
  src/routes/posts/news/2024-05-25.md
Due: none

add newsletter
  src/routes/posts/news/2024-05-29.md
Due: none

corr newsletter
  src/routes/posts/news/2024-05-29.md
Due: none

small changes
  src/routes/about.md
Due: Lint, CD:Red, CD:Blue

add newsletter july 24
  src/routes/posts/news/2024-07-04.md
Due: none

add Zuse
  src/routes/posts/kyu-7/17-geschichte.md
Due: none

add pic
  src/routes/posts/kyu-7/17-geschichte.md
Due: none

add pic source
  src/routes/posts/kyu-7/17-geschichte.md
Due: none

chore: update svgs
  static/images/logo-editor-url.svg
  static/images/logo-editor.svg
Due: CD:Red, CD:Blue

chore: remove build from cache, not useful
  .gitlab-ci.yml
Due: Lint, CD:Red, CD:Blue

add workshop
  src/routes/posts/news/2024-09-28.md
Due: none

add workshop
  src/routes/posts/news/2024-12-01.md
Due: none

add workshop
  src/routes/posts/news/2024-09-24.md
Due: none

add new workshops
  src/routes/posts/news/2024-09-28.md
  src/routes/posts/news/2024-10-12.md
  src/routes/posts/news/2024-10-13.md
  src/routes/posts/news/2024-10-19.md
  src/routes/posts/news/2024-12-01.md
Due: none

corr ortho
  src/routes/posts/news/2024-10-13.md
Due: none

change about
  src/routes/about.md
Due: Lint, CD:Red, CD:Blue

small corr
  src/routes/about.md
Due: Lint, CD:Red, CD:Blue

small corr
  src/routes/posts/workshops/python_I.md
Due: none

small corr or and and changed
  src/routes/posts/kyu-6/11-pygame.md
Due: none

add jht draft
  src/routes/posts/news/2024-12-28.md
Due: none

add announcement 38C3
  src/routes/posts/news/2024-12-28.md
Due: none

add html-Workshop
  src/routes/posts/news/2024-12-01.md
Due: none

small corr
  src/routes/posts/news/2024-12-28.md
Due: none

add exerc
  src/routes/posts/workshops/python_III.md
Due: none

chore: format file
  src/routes/posts/workshops/python_III.md
Due: none

add new workshops
  src/routes/posts/news/2025-01-18.md
  src/routes/posts/news/2025-02-15.md
Due: none

add new workshop
  src/routes/posts/news/2025-01-18.md
Due: none

newsletter and game-worksop
  src/routes/posts/news/2025-02-10.md
Due: none

new workshops
  src/routes/posts/kyu-6/90-geschichte.md
  src/routes/posts/news/2025-02-10.md
  src/routes/posts/news/2025-03-13.md
  src/routes/posts/news/2025-03-23.md
Due: none

chore: format code
  src/routes/posts/kyu-6/90-geschichte.md
  src/routes/posts/news/2025-02-10.md
  src/routes/posts/news/2025-03-13.md
  src/routes/posts/news/2025-03-23.md
Due: none

chore: add devenv and try to fix ci
  .envrc
  .gitignore
  .gitlab-ci.yml
  devenv.lock
  devenv.nix
  devenv.yaml
  package.json
  pnpm-lock.yaml
Due: Lint, CD:Red, CD:Blue

chore: add devenv install
  .gitlab-ci.yml
Due: Lint, CD:Red, CD:Blue

fix: nix tags
  .gitlab-ci.yml
Due: Lint, CD:Red, CD:Blue

Path conditions:
  Lint: any of: vite.config.js, .gitlab-ci.yml, prettier.config.js, src/*, src/*/*, src/*/*/*, mdsvex.config.js, package.json, postcss.config.cjs, svelte.config.js, tailwind.config.cjs, tsconfig.json
  CD:Red: any of: .gitlab-ci.yml, src/*, src/*/*, src/*/*/*, static/*, static/*/*, static/*/*/*, mdsvex.config.js, package.json, pnpm-lock.yaml, postcss.config.cjs, svelte.config.js, tailwind.config.cjs, tsconfig.json, vite.config.js
  CD:Blue: any of: .gitlab-ci.yml, src/*, src/*/*, src/*/*/*, static/*, static/*/*, static/*/*/*, mdsvex.config.js, package.json, pnpm-lock.yaml, postcss.config.cjs, svelte.config.js, tailwind.config.cjs, tsconfig.json, vite.config.js
