Repository Chaostheorie/coderdojo-website-mirror: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Lint, CD

Lint:
  before_script:
  - yarn install
  script:
  - yarn run lint

CD:
  stage: deploy
  environment:
    name: production
    url: https://coderdojo.cobalt.rocks
  before_script:
  - yarn install
  - mkdir -p ~/.ssh
  - eval $(ssh-agent -s)
  - echo "$CD_PRIVATE_KEY" > ~/.ssh/id_rsa
  - echo "$CD_HOST_KEY" >> ~/.ssh/known_hosts
  - chmod 644 ~/.ssh/known_hosts
  - chmod 700 ~/.ssh
  ...

undo false fix
  .gitlab-ci.yml
Due: CD

fix float sidebar / finish section / create news
  content/kyo-1/_index.md
  content/news/_index.md
  content/news/cat-ipsum.md
  package.json
  sass/_bootstrap.scss
  sass/_dark.scss
  sass/_interactive.scss
  sass/_layout.scss
  sass/_sidebar.scss
  sass/_variables.scss
  sass/main.scss
  templates/base.html
  templates/index.html
  templates/macros/toc.html
  templates/section-news.html
  templates/section.html
  ts/main.ts
  ts/types/missing.d.ts
  tsconfig.json
  yarn.lock
Due: Lint, CD

fix linting
  sass/_sidebar.scss
  ts/main.ts
Due: Lint, CD

update README.md
  README.md
Due: none

add flowchart
  README.md
Due: none

fix scrollspy / fix docs
  README.md
  config.toml
  content/content/copyright.md
  content/content/imprint.md
  content/kyo-4/_index.md
  package.json
  sass/_dark.scss
  sass/_interactive.scss
  templates/macros/footer.html
  templates/macros/toc.html
  templates/page.html
  templates/section.html
  templates/shortcodes/dd.html
  templates/shortcodes/domain.html
  templates/shortcodes/dt.html
  ts/main.ts
  ts/types/missing.d.ts
  tsconfig.json
  webpack.config.js
  webpack.prod.config.js
  yarn.lock
Due: Lint, CD

fix styling for active class
  sass/_interactive.scss
  ts/main.ts
Due: Lint, CD

finish news / fix typos / add new tasks
  .gitlab-ci.yml
  README.md
  config.toml
  content/news/cat-ipsum.md
  templates/base.html
  templates/macros/favicon.html
  templates/section-news.html
Due: CD

update katex example
  README.md
  content/kyo-4/_index.md
Due: CD

remove debug artifact
  ts/main.ts
Due: Lint, CD

fix typ in favicon
  .lighthouserc.js
  README.md
  package.json
  templates/macros/favicon.html
  yarn.lock
Due: Lint, CD

fix heading order
  templates/base.html
Due: CD

fix typo [2]
  templates/macros/favicon.html
Due: none

reverse chapters
  .idea/.gitignore
  .idea/codedojo-website.iml
  .idea/inspectionProfiles/profiles_settings.xml
  .idea/modules.xml
  .idea/vcs.xml
  chapters.toml
Due: none

adjust $secondary for accessability / fix typos
  .gitignore
  .gitlab-ci.yml
  .lighthouserc.js
  README.md
  sass/_variables.scss
Due: Lint, CD

remove IDE artifacts
  .gitignore
  .idea/.gitignore
  .idea/codedojo-website.iml
  .idea/inspectionProfiles/profiles_settings.xml
  .idea/modules.xml
  .idea/vcs.xml
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: CD

Add Licence for code produced by cobalt
  LICENSE
Due: none

new chapter structure
  chapters.toml
  content/dan-1/_index.md
  content/euler/_index.md
  content/kyo-1/_index.md
  content/kyo-2/_index.md
  content/kyo-4/_index.md
  content/kyo-5/_index.md
  content/kyo-6/_index.md
  content/kyo-7/_index.md
Due: CD

ignore
  .gitignore
Due: none

adjust theme dark -> success
  sass/_dark.scss
  sass/_layout.scss
  sass/_sidebar.scss
  sass/_variables.scss
  static/static.html
  templates/base.html
  templates/macros/footer.html
Due: Lint, CD

adjust chapter colors for accessability
  README.md
  chapters.toml
  content/kyo-1/_index.md
  content/kyo-2/_index.md
  content/kyo-7/_index.md
Due: CD

fix malformed HTML -> fix CD
  static/static.html
  templates/shortcodes/static.html
Due: CD

change reception
  chapters.toml
Due: none

add new
  config.toml
  static/images/android-chrome-192x192.png
  static/images/android-chrome-512x512.png
  static/images/apple-touch-icon.png
  static/images/favicon-16x16.png
  static/images/favicon-194x194.png
  static/images/favicon-32x32.png
  static/images/favicon.ico
  static/images/favicon.svg
  static/images/logo-editor.svg
  static/images/logo/android-chrome-144x144.png
  static/images/logo/android-chrome-192x192.png
  static/images/logo/android-chrome-256x256.png
  static/images/logo/android-chrome-36x36.png
  static/images/logo/android-chrome-384x384.png
  static/images/logo/android-chrome-48x48.png
  static/images/logo/android-chrome-512x512.png
  static/images/logo/android-chrome-72x72.png
  static/images/logo/android-chrome-96x96.png
  static/images/logo/apple-touch-icon.png
  static/images/logo/browserconfig.xml
  static/images/logo/favicon-16x16.png
  static/images/logo/favicon-194x194.png
  static/images/logo/favicon-32x32.png
  static/images/logo/favicon.ico
  static/images/logo/mstile-144x144.png
  static/images/logo/mstile-150x150.png
  static/images/logo/safari-pinned-tab.svg
  static/images/logo/site.webmanifest
  static/images/mstile-144x144.png
  static/images/mstile-150x150.png
  static/images/safari-pinned-tab.svg
  static/images/site.webmanifest
  templates/base.html
  templates/macros/favicon.html
  ts/compress.ts
Due: Lint, CD

add chapter.toml to changes
  .gitlab-ci.yml
Due: CD

Impressum
  content/content/contact.md
  content/content/imprint.md
  content/content/privacy.md
Due: CD

fix wrong formatting -> fix CD
  content/content/imprint.md
Due: CD

update webpack production config
  README.md
  webpack.prod.config.js
Due: CD

update TODOS / add license note
  README.md
Due: none

Update README.md
  README.md
Due: none

localisation fixes
  content/content/copyright.md
  content/content/privacy.md
  templates/macros/favicon.html
  templates/macros/footer.html
Due: CD

adjust btn-outline-dark for dark mode
  sass/_dark.scss
Due: Lint, CD

fix text color in copyright attributions
  sass/_dark.scss
  sass/_layout.scss
  templates/copyright.html
Due: Lint, CD

updated TODO
  README.md
Due: none

update CI
  .gitlab-ci.yml
  package.json
Due: Lint, CD

Path conditions:
  Lint: any of: sass/*, ts/*, package.json, .stylelintrc.json, .eslintrc.json
  CD: any of: content/*/**, syntaxes/*, content/*, templates/*, static/*/**, static/*, sass/*, ts/*, config.toml, package.json, purgecss.config.js, webpack.config.js, webpack.prod.config.js, .gitlab-ci.yml
