Repository Chaostheorie/coderdojo-website-mirror: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Lint, CD

.gitlab-ci.yml:

image: registry.gitlab.cobalt.rocks/cobalt/docker-builder/zola-builder:latest

cache:
    key: '${CI_COMMIT_REF_SLUG}'
    paths:
        - node_modules

Lint:
    only:
        changes:
            - sass/*
            - ts/*
            - package.json
            - .stylelintrc.json
            - .eslintrc.json
    before_script:
        - yarn install
    script:
        - yarn run lint

CD:
    stage: deploy
    environment:
        name: production
        url: https://coderdojo.cobalt.rocks
    only:
        changes:
            - content/*/**
            - syntaxes/*
            - content/*
            - templates/*
            - static/*/**
            - static/*
            - sass/*
            - ts/*
            - config.toml
            - package.json
            - purgecss.config.js
            - webpack.config.js
            - webpack.prod.config.js
            - .gitlab-ci.yml
    before_script:
        # Install all the npm dependencies (normally cached but clover#2 currently has problems)
        - yarn install
        # Add shh folder
        - mkdir -p ~/.ssh
        # Start ssh agent
        - eval $(ssh-agent -s)
        - echo "$CD_PRIVATE_KEY" > ~/.ssh/id_rsa
        - echo "$CD_HOST_KEY" >> ~/.ssh/known_hosts
        # Ssh is picky about permissions
        - chmod 644 ~/.ssh/known_hosts
        - chmod 700 ~/.ssh
        - chmod 600 ~/.ssh/id_rsa
    script:
        - yarn run ci-build
    after_script:
        # Restart agent - Not neccessary OOnly use when debugging
        # - PID=$(eval "$(ssh-agent -s)" | sed "s/[A-Za-z ]*//") kill -9 "$PID"
        # Upload
        - rsync -e "ssh -p $CD_DIST_PORT -i ~/.ssh/id_rsa" -PL -rvzuc --delete  ./public/*  "$CD_DIST_USER@$CD_DIST_HOST"

fix links and add regex
  content/news/cat-ipsum.md
  package.json
Due: Lint, CD

fix image
  templates/section-news.html
Due: CD

adjust for better domain generation
  .gitlab-ci.yml
  package.json
Due: Lint, CD

update purgecss integration
  package.json
  postcss.config.js
  purgecss.config.js
  yarn.lock
Due: Lint, CD

add demo index page
  templates/index.html
Due: CD

fix typo
  templates/index.html
Due: CD

fix style issue with soem links in nav
  sass/_dark.scss
  sass/_layout.scss
Due: Lint, CD

landing page
  chapters.toml
  content/kyo-info/_index.md
  content/news/2021-07-18.md
  templates/index.html
Due: CD

Intro
  content/kyo-info/_index.md
  static/images/JJS_Dojo_s.jpg
  static/images/karate-2717178_1280_s.jpg
  static/images/martial-83009_1280_s.jpg
Due: CD

add Euler
  content/euler/_index.md
Due: CD

images
  chapters.toml
  content/kyo-info/_index.md
  content/news/cat-ipsum.md
  templates/base.html
Due: CD

fix linting
  .stylelintrc.json
  package.json
  sass/_bootstrap.scss
  sass/_sidebar.scss
  sass/_variables.scss
  sass/main.scss
  yarn.lock
Due: Lint, CD

add new deploy
  .gitlab-ci.yml
Due: CD

fix dat typo
  .gitlab-ci.yml
Due: CD

format+restore
  templates/index.html
Due: CD

add debug to domain
  package.json
Due: Lint, CD

change some variables
  .gitlab-ci.yml
Due: CD

change image
  .gitlab-ci.yml
Due: CD

chagne color of sidebar icons to nord10
  .gitlab-ci.yml
  sass/_sidebar.scss
  templates/base.html
Due: Lint, CD

phasing out secondary deploy
  .gitlab-ci.yml
Due: CD

add icon button+adjust news section card height
  content/news/2021-07-18.md
  templates/section-news.html
  templates/shortcodes/ibutton.html
Due: CD

change brand
  static/images/brand.svg
  static/images/logo/android-chrome-192x192.png
  static/images/logo/android-chrome-512x512.png
  static/images/logo/apple-touch-icon.png
  static/images/logo/favicon-16x16.png
  static/images/logo/favicon-32x32.png
  static/images/logo/favicon.ico
  static/images/logo/mstile-150x150.png
  static/images/logo/safari-pinned-tab.svg
Due: CD

change brand
  static/images/brand.svg
  static/images/logo/android-chrome-192x192.png
  static/images/logo/android-chrome-256x256.png
  static/images/logo/android-chrome-36x36.png
  static/images/logo/android-chrome-384x384.png
  static/images/logo/android-chrome-48x48.png
  static/images/logo/android-chrome-512x512.png
  static/images/logo/android-chrome-96x96.png
  static/images/logo/apple-touch-icon-114x114.png
  static/images/logo/apple-touch-icon-120x120.png
  static/images/logo/apple-touch-icon-144x144.png
  static/images/logo/apple-touch-icon-152x152.png
  static/images/logo/apple-touch-icon-180x180.png
  static/images/logo/apple-touch-icon-57x57.png
  static/images/logo/apple-touch-icon-60x60.png
  static/images/logo/apple-touch-icon-72x72.png
  static/images/logo/apple-touch-icon-76x76.png
  static/images/logo/browserconfig.xml
  static/images/logo/favicon-16x16.png
  static/images/logo/favicon-194x194.png
  static/images/logo/favicon-32x32.png
  static/images/logo/favicon.ico
  static/images/logo/mstile-144x144.png
  static/images/logo/mstile-150x150.png
  static/images/logo/mstile-310x150.png
  static/images/logo/safari-pinned-tab.svg
Due: CD

minify all the things
  package.json
  postcss.config.js
  tsconfig.json
  yarn.lock
Due: Lint, CD

add margin to figure and fix link
  content/kyo-info/_index.md
  sass/_layout.scss
Due: Lint, CD

remove superseeded declaration
  templates/macros/favicon.html
Due: none

add hashing
  README.md
  package.json
  templates/base.html
  templates/section.html
  yarn.lock
Due: Lint, CD

fix CLS
  sass/_sidebar.scss
Due: Lint, CD

add badges
  README.md
  package.json
Due: Lint, CD

add proper spacing to js
  package.json
Due: Lint, CD

fix js (2)
  package.json
Due: Lint, CD

fix domain
  config.toml
Due: CD

add templates
  .gitlab/merge_requests_templates/bug-fix.md
  .gitlab/merge_requests_templates/new-feature.md
Due: none

add new base with support for nord theme
  .gitignore
  .gitlab-ci.yml
  config.toml
  package.json
  sass/_layout.scss
  sass/_sidebar.scss
  sass/_variables.scss
  static/katex
  templates/base.html
  templates/index.html
  templates/macros/footer.html
  templates/macros/meta.html
  templates/macros/nav.html
  templates/macros/toc.html
  templates/section-news.html
  ts/main.ts
  ts/types/missing.d.ts
  yarn.lock
Due: Lint, CD

New base
  .gitignore
  package.json
  static/katex
  templates/base.html
Due: Lint, CD

hopefully fix zola
  config.toml
  package.json
Due: Lint, CD

fix typo
  README.md
Due: none

Bild kentern
  static/images/capsized-31696_1280_s.png
Due: CD
