Repository Chaostheorie/coderdojo-website-mirror: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Lint, CD:Red, CD:Blue, CD:Rocks

.gitlab-ci.yml:

image: registry.gitlab.cobalt.rocks/cobalt/docker-builder/zola-builder:latest

cache:
    key: '${CI_COMMIT_REF_SLUG}'
    paths:
        - node_modules

Lint:
    only:
        changes:
            - sass/*
            - ts/*
            - package.json
            - .stylelintrc.json
            - .eslintrc.json
    before_script:
        - yarn install
    script:
        - yarn run lint

.template: &rs-deploy
    only:
        changes:
            - content/*/**
            - chapter.toml
            - content/*
            - templates/*
            - templates/**/*
            - static/*/**
            - static/*
            - sass/*
            - ts/*
            - config.toml
            - package.json
            - purgecss.config.js
            - webpack.config.js
            - webpack.prod.config.js
            - .gitlab-ci.yml
        refs:
            - main
    before_script:
            # Install all yarn dependencies (normally cached but clover#2 currently has problems with space)
            - yarn install
            # Add shh folder
            - mkdir -p ~/.ssh
            # Start ssh agent
            - eval $(ssh-agent -s)
            # Dump keys from CI variables to files
            - echo "$KEY" > ~/.ssh/id_rsa
            - echo "$CD_HOST_KEY" >> ~/.ssh/known_hosts
            # SSH agent requires specific permissions
            - chmod 644 ~/.ssh/known_hosts
            - chmod 700 ~/.ssh
            - chmod 600 ~/.ssh/id_rsa
    script:
        - yarn run domain
        - yarn run ci-build
    after_script:
        # Restart agent - Not necessary only for debugging
        # - PID=$(eval "$(ssh-agent -s)" | sed "s/[A-Za-z ]*//") kill -9 "$PID"
        # Upload
        - rsync -e "ssh -p $CD_DIST_PORT -i ~/.ssh/id_rsa" -PL -rvzuc --delete  ./public/*  "$CD_DIST_USER@$CD_DIST_HOST:"

CD:Red:
    <<: *rs-deploy
    stage: deploy
    environment:
        name: production#1
        url: https://coderdojo.red
    variables:
        DOMAIN: coderdojo.red
        KEY: "$CD_RED_PRIVATE_KEY"
    
CD:Blue:
    <<: *rs-deploy
    stage: deploy
    environment:
        name: production#2
        url: https://coderdojo.blue
    variables:
        DOMAIN: coderdojo.blue
        KEY: "$CD_RED_PRIVATE_KEY"
    
CD:Rocks:
    <<: *rs-deploy
    stage: deploy
    environment:
        name: secondary
        url: https://coderdojo.cobalt.rocks
    variables:
        DOMAIN: coderdojo.cobalt.rocks
        KEY: "$CD_PRIVATE_KEY"

gitignore
  .gitignore
Due: none

add run.sh to .gitignore
  .gitignore
Due: none

Weissgurt
  content/kyo-7/_index.md
  static/images/8-1-Pycharm-1.png
  static/images/8-1-Pycharm-1a.png
  static/images/8-1-Pycharm-1b.png
  static/images/8-1-Pycharm-2.jpg
  static/images/8-1-Pycharm-2.png
  static/images/8-1-Pycharm-3.jpg
  static/images/8-1-Pycharm-3.png
  static/images/8-1-Pycharm-4.jpg
  static/images/8-1-Pycharm-4.png
  static/images/8-1-Pycharm-5.jpg
  static/images/8-1-Pycharm-5.png
  static/images/Brave.png
  static/images/Cyber4EDU_sticker.png
  static/images/Matrix-logo.png
  static/images/Tie_shoelace.png
  static/images/children-593313_1280.jpg
  static/images/help-2444110_1280.png
Due: CD:Red, CD:Blue, CD:Rocks

Fehlerkorrekturen
  content/kyo-7/_index.md
Due: CD:Red, CD:Blue, CD:Rocks

neue Fehlerkorrekturen
  content/kyo-7/_index.md
Due: CD:Red, CD:Blue, CD:Rocks

new picture
  static/images/children-593313_1280_s.jpg
Due: CD:Red, CD:Blue, CD:Rocks

changes for resize picture
  content/kyo-7/_index.md
Due: CD:Red, CD:Blue, CD:Rocks

Formatierung
  content/kyo-7/_index.md
  static/images/SolarpanelBp_a.jpeg
Due: CD:Red, CD:Blue, CD:Rocks

Formatierung
  content/kyo-7/_index.md
Due: CD:Red, CD:Blue, CD:Rocks

Formatierung
  content/kyo-7/_index.md
  static/images/help-2444110_1280_a.png
Due: CD:Red, CD:Blue, CD:Rocks

Fehlerkorrektur
  content/kyo-7/_index.md
  content/news/2021-08-06.md
Due: CD:Red, CD:Blue, CD:Rocks

Fehlerkorrektur
  content/kyo-7/_index.md
Due: CD:Red, CD:Blue, CD:Rocks

Übersicht
  Gürtel.txt
Due: none

Update Gürtel.txt
  Gürtel.md
  Gürtel.txt
Due: none

jo
  Gürtel.md
Due: none

Update Gürtel.md
  Gürtel.md
Due: none

Überarbeitung
  Gürtel.md
Due: none

colors
  chapters.toml
  content/kyo-6/_index.md
  content/kyo-7/_index.md
Due: CD:Red, CD:Blue, CD:Rocks

fix sitemap url
  templates/robots.txt
Due: CD:Red, CD:Blue, CD:Rocks

changed layout -> dark / fixed sidebar / typo fix
  content/kyo-7/_index.md
  sass/_interactive.scss
  sass/_layout.scss
  sass/_sidebar.scss
  sass/_variables.scss
  templates/base.html
  templates/index.html
  templates/macros/asset.html
  templates/macros/footer.html
  templates/macros/integrity.html
  templates/macros/nav.html
  templates/section.html
  templates/shortcodes/file.html
  ts/main.ts
Due: Lint, CD:Red, CD:Blue, CD:Rocks

add issue templates
  .gitlab/issue_templates/Bug.md
  .gitlab/issue_templates/New Feature.md
  .gitlab/merge_request_templates/Bug Fix.md
  .gitlab/merge_request_templates/New Feature.md
Due: none

undo removal of Gürtel.md
  Gürtel.md
Due: none

final yarn update
  yarn.lock
Due: none

remove Gürtlemd again
  Gürtel.md
Due: none

format kyo-7/_index.md
  content/kyo-7/_index.md
Due: CD:Red, CD:Blue, CD:Rocks

move ci/cd back
  .gitlab-ci.yml
Due: CD:Red, CD:Blue, CD:Rocks

add linting for gitlab-ci config
  .gitlab-ci.yml
  package.json
Due: Lint, CD:Red, CD:Blue, CD:Rocks

fix ids
  templates/404.html
  templates/copyright.html
  templates/index.html
  templates/page.html
  templates/section-news.html
Due: CD:Red, CD:Blue, CD:Rocks

fix typo
  .gitlab-ci.yml
Due: CD:Red, CD:Blue, CD:Rocks

moved content to root / added copyright section
  content/contact.md
  content/content/contact.md
  content/content/copyright.md
  content/copyright.md
  content/imprint.md
  content/privacy.md
  sass/_variables.scss
  templates/404.html
  templates/copyright.html
  templates/macros/footer.html
  templates/section.html
Due: Lint, CD:Red, CD:Blue, CD:Rocks

fix typos in templates
  .gitlab/issue_templates/Bug.md
  .gitlab/merge_request_templates/Bug Fix.md
Due: none

add README.md to lint/add licensing note to README
  README.md
  package.json
Due: Lint, CD:Red, CD:Blue, CD:Rocks

fix bug
  content/kyo-7/_index.md
  templates/shortcodes/figure.html
Due: CD:Red, CD:Blue, CD:Rocks

new dev
  content/kyo-5/_index.md
  package.json
  static/images/3700458-ball-competition-racket-sportive-sports-tennis_108746.png
  static/images/3700459-chemical-chemistry-education-flask-science-test-tube_108750.png
  static/images/3700465-business-calculating-calculator-finance-maths-technological_108748.png
  static/images/3700467-launch-rocket-ship-space-transport_108766.png
  static/images/3700472-biology-chemical-chemistry-ecology-flask-laboratory-science_108761.png
  static/images/3700480-microphone-radio-recording-sound-technology-vintage-voice_108745.png
  static/images/3700484-call-delivery-man-phone-shipping-support_108751.png
  static/images/8.1-Pycharm-3.png
  static/images/Git-logo.png
  static/images/Git-logo.svg
  static/images/JJS_Dojo.jpg
  static/images/Matrix-logo.svg
  static/images/Noma_Dojo.jpg
  static/images/SolarpanelBp.jpeg
  static/images/antennasignalobservatoryradio-115839_115790.png
  static/images/audio_book_icon_182964.png
  static/images/capsized-31696_1280.png
  static/images/exploding_head.png
  static/images/idea_icon_182952.png
  static/images/karate-2717178_1280.jpg
  static/images/martial-83009_1280.jpg
  static/images/math_book.png
  static/images/memo.txt
  static/images/python.jpg
  static/images/sceince_book_icon_182960.png
  static/main.css
  templates/base.html
  yarn.lock
Due: Lint, CD:Red, CD:Blue, CD:Rocks

resolve probloems with license checker
  .gitignore
  package.json
  static/images/JJS_Dojo_s.jpg
  templates/base.html
  templates/copyright.html
  yarn.lock
Due: Lint, CD:Red, CD:Blue, CD:Rocks
