Repository Chaostheorie/coderdojo-website-mirror: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Lint, CD:Red, CD:Blue

Lint:
  stage: Testing
  before_script:
  - pnpm i --frozen-lockfile
  script:
  - pnpm lint

CD:Red:
  tags:
  - helium
  before_script:
  - pnpm i --frozen-lockfile
  - mkdir -p ~/.ssh
  - eval $(ssh-agent -s)
  - echo "$KEY" > ~/.ssh/id_rsa
  - echo "$KEY" | sha256sum
  - echo "$CD_HOST_KEY" >> ~/.ssh/known_hosts
  - chmod 644 ~/.ssh/known_hosts
  - chmod 700 ~/.ssh
  - chmod 600 ~/.ssh/id_rsa
  script:
  ...

CD:Blue:
  tags:
  - helium
  before_script:
  - pnpm i --frozen-lockfile
  - mkdir -p ~/.ssh
  - eval $(ssh-agent -s)
  - echo "$KEY" > ~/.ssh/id_rsa
  - echo "$KEY" | sha256sum
  - echo "$CD_HOST_KEY" >> ~/.ssh/known_hosts
  - chmod 644 ~/.ssh/known_hosts
  - chmod 700 ~/.ssh
  - chmod 600 ~/.ssh/id_rsa
  script:
  ...

small corr
  src/routes/posts/workshops/index.md
Due: none

test comm
  src/routes/posts/kyu-7/01-schleifen.md
Due: none

corr
  src/routes/posts/kyu-7/01-schleifen.md
Due: none

add exc
  src/routes/posts/kyu-7/01-schleifen.md
  src/routes/posts/workshops/python.md
Due: none

small corr
  src/routes/posts/workshops/python.md
Due: none

test
  src/routes/posts/workshops/python.md
Due: none

exc 3
  src/routes/posts/workshops/python.md
Due: none

add belt
  src/routes/posts/workshops/python.md
  static/images/kyu-7/belt-white.svg
Due: CD:Red, CD:Blue

add small belt
  src/routes/posts/workshops/python.md
  static/images/kyu-7/belt_white_small.svg
Due: CD:Red, CD:Blue

typo corr
  src/routes/posts/workshops/python.md
Due: none

corr exc
  src/routes/posts/workshops/python.md
  static/images/kyu-7/belt-white-small.svg
Due: CD:Red, CD:Blue

rm svg
  static/images/kyu-7/belt_white_small.svg
Due: CD:Red, CD:Blue

change to jpg
  src/routes/posts/workshops/python.md
  static/images/kyu-7/belt-white-small.png
Due: CD:Red, CD:Blue

add info
  src/routes/posts/workshops/python.md
Due: none

try width
  src/routes/posts/workshops/python.md
Due: none

try
  src/routes/posts/workshops/python.md
Due: none

format
  src/routes/posts/workshops/python.md
Due: none

corr
  src/routes/posts/workshops/python.md
Due: none

format beginning
  src/routes/posts/workshops/python.md
Due: none

add workshop
  src/routes/posts/news/2024-02-24.md
  src/routes/posts/news/2024-04-07.md
Due: none

add triggerwarning
  src/routes/posts/kyu-7/05-bedingungen.md
Due: none

corr ortho
  src/routes/posts/kyu-7/05-bedingungen.md
Due: none

Aufgabe 4 Zusatz ergänzt und Fehlerkorrektur beim Münzwechsler
  src/routes/posts/workshops/python.md
Due: none

change pagination
  src/routes/posts/kyu-7/18-exceptions.md
  src/routes/posts/kyu-7/19-hilfen.md
  src/routes/posts/kyu-7/20-gurtpruefung.md
  src/routes/posts/kyu-7/21-zusammenfassung.md
Due: none

add history
  src/routes/posts/kyu-7/17-geschichte.md
Due: none

change announcement workshop
  src/routes/posts/news/2024-04-07.md
Due: none

change Thursday info
  src/routes/index.svelte
Due: Lint, CD:Red, CD:Blue

corr clt workshop
  src/routes/posts/news/2024-03-17.md
Due: none

change format
  src/routes/index.svelte
  src/routes/posts/kyu-7/05-bedingungen.md
  src/routes/posts/workshops/python.md
Due: Lint, CD:Red, CD:Blue

Path conditions:
  Lint: any of: vite.config.js, .gitlab-ci.yml, prettier.config.js, src/*, src/*/*, src/*/*/*, mdsvex.config.js, package.json, postcss.config.cjs, svelte.config.js, tailwind.config.cjs, tsconfig.json
  CD:Red: any of: .gitlab-ci.yml, src/*, src/*/*, src/*/*/*, static/*, static/*/*, static/*/*/*, mdsvex.config.js, package.json, pnpm-lock.yaml, postcss.config.cjs, svelte.config.js, tailwind.config.cjs, tsconfig.json, vite.config.js
  CD:Blue: any of: .gitlab-ci.yml, src/*, src/*/*, src/*/*/*, static/*, static/*/*, static/*/*/*, mdsvex.config.js, package.json, pnpm-lock.yaml, postcss.config.cjs, svelte.config.js, tailwind.config.cjs, tsconfig.json, vite.config.js
