Repository Chaostheorie/coderdojo-website-mirror: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Lint, CD:Red, CD:Blue

Lint:
  stage: Testing
  before_script:
  - pnpm i --frozen-lockfile
  script:
  - pnpm lint

CD:Red:
  tags:
  - helium
  before_script:
  - pnpm i --frozen-lockfile
  - mkdir -p ~/.ssh
  - eval $(ssh-agent -s)
  - echo "$KEY" > ~/.ssh/id_rsa
  - echo "$KEY" | sha256sum
  - echo "$CD_HOST_KEY" >> ~/.ssh/known_hosts
  - chmod 644 ~/.ssh/known_hosts
  - chmod 700 ~/.ssh
  - chmod 600 ~/.ssh/id_rsa
  script:
  ...

CD:Blue:
  tags:
  - helium
  before_script:
  - pnpm i --frozen-lockfile
  - mkdir -p ~/.ssh
  - eval $(ssh-agent -s)
  - echo "$KEY" > ~/.ssh/id_rsa
  - echo "$KEY" | sha256sum
  - echo "$CD_HOST_KEY" >> ~/.ssh/known_hosts
  - chmod 644 ~/.ssh/known_hosts
  - chmod 700 ~/.ssh
  - chmod 600 ~/.ssh/id_rsa
  script:
  ...

add meeple2
  src/routes/posts/workshops/python_II.md
Due: none

corr
  src/routes/posts/workshops/python_II.md
Due: none

add lines
  src/routes/posts/workshops/python_II.md
Due: none

add workshop
  src/routes/posts/news/2024-04-27.md
Due: none

add workshop
  src/routes/posts/news/2024-06-02.md
Due: none

add jh event
  src/routes/posts/news/2024-10-03.md
Due: none

add test
  src/routes/posts/news/koenigsstadt.md
Due: none

add workshop koenigstadt
  src/routes/posts/news/2024-06-02-koenigsstadt.md
  src/routes/posts/news/2024-06-02.md
  src/routes/posts/news/koenigsstadt.md
Due: none

add corr
  src/routes/posts/news/2024-06-02-koenigsstadt.md
Due: none

corr
  src/routes/posts/news/2024-06-02-koenigsstadt.md
Due: none

add psb
  src/routes/posts/news/2024-06-02-koenigsstadt.md
  src/routes/posts/news/2024-09-07.md
Due: none

add addr
  src/routes/posts/news/2024-06-02-koenigsstadt.md
Due: none

add AGB
  src/routes/posts/news/2024-09-07.md
  src/routes/posts/news/2024-10-19.md
Due: none

corr
  src/routes/posts/news/2024-10-19.md
Due: none

add excerc
  src/routes/posts/kyu-7/20-gurtpruefung.md
Due: none

add link Ticketshop
  src/routes/posts/news/2024-06-02-koenigsstadt.md
Due: none

add shop
  src/routes/posts/news/2024-06-02-koenigsstadt.md
Due: none

add arduino workshop 2
  src/routes/posts/news/2024-05-25.md
Due: none

small corr
  src/routes/posts/news/2024-06-02-koenigsstadt.md
Due: none

chore: add link to page in toc dropdown
  src/lib/components/TocDropdown.svelte
Due: Lint, CD:Red, CD:Blue

chore: run format
  src/routes/posts/news/2024-06-02-koenigsstadt.md
  src/routes/posts/news/2024-10-03.md
Due: none

add jpg
  src/routes/posts/news/2024-06-02-koenigsstadt.md
  static/images/news/Flyer_1_A4.jpg
  static/images/news/Flyer_1_A4.pdf
Due: CD:Red, CD:Blue

Merge branch 'koneko' of ssh://gitlab.cobalt.rocks:3724/coderdojo/coderdojo-website into koneko
  src/lib/components/TocDropdown.svelte
Due: Lint, CD:Red, CD:Blue

add koenigs
  src/routes/posts/news/2024-06-02-koenigsstadt.md
Due: none

hopefully solve merge conflict
  src/lib/components/TocDropdown.svelte
  src/routes/posts/news/2024-10-03.md
Due: Lint, CD:Red, CD:Blue

add arduino II
  src/routes/posts/workshops/Arduino_II.md
Due: none

dev ard ii
  src/routes/posts/workshops/Arduino_II.md
Due: none

add newsletter
  src/routes/index.svelte
Due: Lint, CD:Red, CD:Blue

format
  src/routes/index.svelte
Due: Lint, CD:Red, CD:Blue

rm br
  src/routes/index.svelte
Due: Lint, CD:Red, CD:Blue

now format
  src/routes/index.svelte
  src/routes/posts/workshops/Arduino_II.md
Due: Lint, CD:Red, CD:Blue

small corr
  src/routes/index.svelte
Due: Lint, CD:Red, CD:Blue

add whitespace
  src/routes/index.svelte
Due: Lint, CD:Red, CD:Blue

dev arduino ii workshop
  src/routes/posts/workshops/Arduino_II.md
  static/images/workshops/arduino_II/Arduino_LCD_I2C.jpg
  static/images/workshops/arduino_II/Bewegung_mit_Buzzer_Steckplatine.png
  static/images/workshops/arduino_II/Buzzer_Steckplatine.png
  static/images/workshops/arduino_II/Grundaufbau_Steckplatine.png
  static/images/workshops/arduino_II/Grundaufbau_mit_Code_Steckplatine.png
  static/images/workshops/arduino_II/Ultraschall_Steckplatine.png
Due: none

Path conditions:
  Lint: any of: vite.config.js, .gitlab-ci.yml, prettier.config.js, src/*, src/*/*, src/*/*/*, mdsvex.config.js, package.json, postcss.config.cjs, svelte.config.js, tailwind.config.cjs, tsconfig.json
  CD:Red: any of: .gitlab-ci.yml, src/*, src/*/*, src/*/*/*, static/*, static/*/*, static/*/*/*, mdsvex.config.js, package.json, pnpm-lock.yaml, postcss.config.cjs, svelte.config.js, tailwind.config.cjs, tsconfig.json, vite.config.js
  CD:Blue: any of: .gitlab-ci.yml, src/*, src/*/*, src/*/*/*, static/*, static/*/*, static/*/*/*, mdsvex.config.js, package.json, pnpm-lock.yaml, postcss.config.cjs, svelte.config.js, tailwind.config.cjs, tsconfig.json, vite.config.js
