Repository Chaostheorie/coderdojo-website-mirror: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Lint, CD:Red, CD:Blue

.gitlab-ci.yml:

image: registry.gitlab.cobalt.rocks/cobalt/docker-builder/coderdojo-zola-builder:latest

cache:
    key: '${CI_COMMIT_REF_SLUG}'
    paths:
        - node_modules
        - public

Lint:
    only:
        changes:
            - sass/*
            - ts/*
            - package.json
            - configs/*
            - .gitlab-ci.yml
    before_script:
        - yarn install --non-interactive --check-files  --frozen-lockfile
    script:
        - yarn dev:lint

.template: &rs-deploy
    only:
        changes:
            - content/*/**
            - chapter.toml
            - content/*
            - templates/*
            - templates/**/*
            - static/*/**
            - static/*
            - sass/*
            - ts/*
            - config.toml
            - package.json
            - purgecss.config.js
            - webpack.config.js
            - webpack.prod.config.js
            - .gitlab-ci.yml
        refs:
            - main
    before_script:
        # Install all yarn dependencies (normally cached but clover#2 currently has problems with space)
        - yarn install --non-interactive --check-files  --frozen-lockfile
        # Add shh folder
        - mkdir -p ~/.ssh
        # Start ssh agent
        - eval $(ssh-agent -s)
        # Dump keys from CI variables to files
        - echo "$KEY" > ~/.ssh/id_rsa
        - echo "$CD_HOST_KEY" >> ~/.ssh/known_hosts
        # SSH agent requires specific permissions
        - chmod 644 ~/.ssh/known_hosts
        - chmod 700 ~/.ssh
        - chmod 600 ~/.ssh/id_rsa
    script:
        - yarn ci:domain
        - yarn ci:build
    after_script:
        # Restart agent - Not necessary for prod only needed for debugging
        # - PID=$(eval "$(ssh-agent -s)" | sed "s/[A-Za-z ]*//") kill -9 "$PID"
        # Upload
        - rsync -e "ssh -p $CD_DIST_PORT -i ~/.ssh/id_rsa" -PL -rvzuc
          --delete  ./public/*  "$CD_DIST_USER@$CD_DIST_HOST:"

CD:Red:
    <<: *rs-deploy
    stage: deploy
    environment:
        name: production-1
        url: https://coderdojo.red
    variables:
        DOMAIN: coderdojo.red
        KEY: '$CD_RED_PRIVATE_KEY'

CD:Blue:
    <<: *rs-deploy
    stage: deploy
    environment:
        name: production-2
        url: https://coderdojo.blue
    variables:
        DOMAIN: coderdojo.blue
        KEY: '$CD_BLUE_PRIVATE_KEY'

Link corr
  content/news/rc3.md
Due: CD:Red, CD:Blue

add git
  content/kyo-6/_index.md
  static/images/kyo-6/git-2-branch-main.png
  static/images/kyo-6/git-2-branch-test-loop.png
  static/images/kyo-6/git-2-choose-branch.png
  static/images/kyo-6/git-2-helloWorld.png
  static/images/kyo-6/git-2-klonen.png
  static/images/kyo-6/git-2-new-pull-request.png
  static/images/kyo-6/git-2-pull-request.png
Due: CD:Red, CD:Blue

removed linux as default platform
  content/news/rc3.md
Due: CD:Red, CD:Blue

crop
  static/images/kyo-6/git-2-branch-main.png
Due: none

crop
  static/images/kyo-6/git-2-helloWorld.png
Due: none

crop
  content/kyo-6/_index.md
  static/images/kyo-6/git-2-helloWorld-crop.png
Due: CD:Red, CD:Blue

note PyCharm
  content/kyo-7/_index.md
  content/kyo-info/_index.md
Due: CD:Red, CD:Blue

crop
  content/kyo-6/_index.md
  static/images/kyo-6/git-2-branch-main-crop.png
  static/images/kyo-6/git-2-branch-test-loop-crop.png
  static/images/kyo-6/git-2-choose-branch-crop.png
Due: CD:Red, CD:Blue

crop
  static/images/kyo-6/git-2-branch-main.png
  static/images/kyo-6/git-2-branch-test-loop.png
  static/images/kyo-6/git-2-choose-branch.png
  static/images/kyo-6/git-2-helloWorld.png
  static/images/kyo-6/git-2-klonen-crop.png
  static/images/kyo-6/git-2-klonen.png
  static/images/kyo-6/git-2-new-pull-request-crop.png
  static/images/kyo-6/git-2-new-pull-request.png
  static/images/kyo-6/git-2-pull-request-crop.png
  static/images/kyo-6/git-2-pull-request.png
Due: none

corr in loop
  content/kyo-7/_index.md
Due: CD:Red, CD:Blue

small corr
  content/kyo-7/_index.md
Due: CD:Red, CD:Blue

Update README.md
  README.md
Due: none

corr
  content/kyo-7/_index.md
Due: CD:Red, CD:Blue

repeat
  README.md
Due: none

add fractal and small corr
  content/kyo-7/_index.md
  content/kyo-info/_index.md
  static/images/JJS_Dojo.jpg
  static/images/capsized-31696_1280.png
  static/images/karate-2717178_1280.jpg
  static/images/kyo-info/JJS_Dojo_s.jpg
  static/images/kyo-info/capsized-31696_1280_s.png
  static/images/kyo-info/karate-2717178_1280_s.jpg
  static/images/kyo-info/martial-83009_1280_s.jpg
  static/images/kyus/fantasy-fractal.jpg
  static/images/martial-83009_1280.jpg
Due: CD:Red, CD:Blue

int hints
  content/kyo-7/_index.md
Due: CD:Red, CD:Blue

corr by reason of rc3
  content/kyo-7/_index.md
Due: CD:Red, CD:Blue

fix link
  themes/v2/layout/partial/footer.ejs
Due: none

first attempt at CD
  .gitlab-ci.yml
Due: Lint, CD:Red, CD:Blue

Update prettier.toml
  configs/prettier.toml
Due: Lint

update script name in lint job
  .gitlab-ci.yml
Due: Lint, CD:Red, CD:Blue

publish todo
  TODO.md
Due: none

update todo
  TODO.md
Due: none

add matrix comic
  content/kyo-7/_index.md
Due: CD:Red, CD:Blue

add link
  content/kyo-6/_index.md
Due: CD:Red, CD:Blue

format all the things
  README.md
  configs/postcss.config.js
  configs/webpack.config.js
  content/copyright.md
  content/euler/_index.md
  content/kyo-6/_index.md
  content/kyo-7/_index.md
  content/kyo-info/_index.md
  content/kyo-info/mentoren.md
  content/news/2021-08-06.md
  content/news/2021-11-27.md
  content/news/2021-12-12.md
  content/news/featured.md
  content/news/rc3.md
  content/privacy.md
  sass/_fonts.scss
  sass/_variables.scss
  sass/shikwasa/README.md
  sass/shikwasa/_base.scss
  sass/shikwasa/_chapters.scss
  ts/compress.ts
  ts/main.ts
Due: Lint, CD:Red, CD:Blue

literature corr
  content/kyo-7/_index.md
  static/images/kyo-7/Code-Kommentare.jpg
Due: CD:Red, CD:Blue

corr Leibniz-formular
  content/kyo-7/_index.md
Due: CD:Red, CD:Blue

commit diff
  README.md
  configs/postcss.config.js
  configs/webpack.config.js
  content/copyright.md
  content/euler/_index.md
  content/kyo-6/_index.md
  content/kyo-info/_index.md
  content/kyo-info/mentoren.md
  content/news/2021-08-06.md
  content/news/2021-11-27.md
  content/news/2021-12-12.md
  content/news/featured.md
  content/news/rc3.md
  content/privacy.md
  sass/_fonts.scss
  sass/_variables.scss
  sass/shikwasa/README.md
  sass/shikwasa/_base.scss
  sass/shikwasa/_chapters.scss
  ts/compress.ts
  ts/main.ts
Due: Lint, CD:Red, CD:Blue

e-mail info
  content/contact.md
Due: CD:Red, CD:Blue

corr merge conflicts
  content/kyo-7/_index.md
Due: CD:Red, CD:Blue

first date 2022
  content/news/2022-01-06.md
Due: CD:Red, CD:Blue

add Haltepunkt
  content/kyo-7/_index.md
  static/images/kyo-7/Haltepunkt.png
Due: CD:Red, CD:Blue

fix purging / add figures / fix domain checks
  .gitlab-ci.yml
  _config.yml
  content/_posts/introduction.md
  content/_posts/kyo-6/kultur-1.md
  content/_posts/kyo-6/pygames.md
  content/_posts/kyo-7/bedingungen.md
  content/_posts/kyo-7/browser-mail-messenger.md
  content/_posts/kyo-7/hello-world-schleifen.md
  content/_posts/kyo-7/kultur.md
  content/_posts/kyo-7/loeten.md
  content/_posts/mentoren.md
  content/_posts/news/next-meeting-2.md
  content/_posts/news/rc3.md
  package.json
  postcss.config.js
  tailwind.config.js
  themes/v2/layout/category.ejs
  themes/v2/layout/index.ejs
  themes/v2/layout/layout.ejs
  themes/v2/layout/page.ejs
  themes/v2/layout/partial/article-card.ejs
  themes/v2/layout/partial/footer.ejs
  themes/v2/layout/partial/sidenav.ejs
  themes/v2/layout/placeholder.ejs
  themes/v2/layout/tag.ejs
  themes/v2/scripts/helper.js
  themes/v2/source/_css/base.css
  themes/v2/source/_css/components.css
  themes/v2/source/_css/hljs.css
  themes/v2/source/_css/shikwasa.css
  themes/v2/source/_css/utilities.css
  themes/v2/source/js/helper.js
Due: Lint, CD:Red, CD:Blue

fix formatting
  .gitlab-ci.yml
Due: Lint, CD:Red, CD:Blue
