Repository Chaostheorie/coderdojo-website-mirror: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Lint, CD:Red, CD:Blue

Lint:
  stage: Testing
  before_script:
  - pnpm i --frozen-lockfile
  script:
  - pnpm lint

CD:Red:
  tags:
  - helium
  before_script:
  - pnpm i --frozen-lockfile
  - mkdir -p ~/.ssh
  - eval $(ssh-agent -s)
  - echo "$KEY" > ~/.ssh/id_rsa
  - echo "$KEY" | sha256sum
  - echo "$CD_HOST_KEY" >> ~/.ssh/known_hosts
  - chmod 644 ~/.ssh/known_hosts
  - chmod 700 ~/.ssh
  - chmod 600 ~/.ssh/id_rsa
  script:
  ...

CD:Blue:
  tags:
  - helium
  before_script:
  - pnpm i --frozen-lockfile
  - mkdir -p ~/.ssh
  - eval $(ssh-agent -s)
  - echo "$KEY" > ~/.ssh/id_rsa
  - echo "$KEY" | sha256sum
  - echo "$CD_HOST_KEY" >> ~/.ssh/known_hosts
  - chmod 644 ~/.ssh/known_hosts
  - chmod 700 ~/.ssh
  - chmod 600 ~/.ssh/id_rsa
  script:
  ...

add png
  src/routes/posts/workshops/attiny.md
  src/routes/posts/workshops/index.md
  static/images/workshops/attiny/Schaltplan-ATTiny.png
Due: none

add lnk
  src/routes/posts/workshops/index.md
Due: none

del sentence
  src/routes/posts/workshops/index.md
Due: none

add sentence
  src/routes/posts/workshops/index.md
Due: none

add more matrix infos
  src/routes/index.svelte
Due: Lint, CD:Red, CD:Blue

add Maustueroeffnertag
  src/routes/posts/news/2023-10-03.md
  src/routes/posts/workshops/index.md
Due: none

corr missing sign
  src/routes/index.svelte
Due: Lint, CD:Red, CD:Blue

formatting: run prettier against src/routes
  src/routes/index.svelte
Due: Lint, CD:Red, CD:Blue

update date
  src/routes/posts/news/2023-10-03.md
Due: none

corr matrix explaining
  src/routes/posts/kyo-7/07-browser.md
Due: none

small adds
  src/routes/index.svelte
  src/routes/posts/dojo.md
Due: Lint, CD:Red, CD:Blue

format
  src/routes/index.svelte
Due: Lint, CD:Red, CD:Blue

add event pygames
  src/routes/posts/news/2023-10-22.md
Due: none

add image
  src/routes/posts/news/2023-10-22.md
Due: none

add workshops
  src/routes/posts/workshops/index.md
Due: none

add schedule
  src/routes/posts/news/2023-10-03.md
Due: none

add blank lines
  src/routes/posts/news/2023-10-03.md
Due: none

small cor
  src/routes/posts/news/2023-10-22.md
Due: none

add Maussteine
  src/routes/posts/news/2023-10-03.md
  static/images/news/Maussteine.jpg
Due: CD:Red, CD:Blue

act workshops
  src/routes/posts/workshops/index.md
Due: none

more expl matrix channel
  src/routes/index.svelte
Due: Lint, CD:Red, CD:Blue

change welcome news page
  src/routes/posts/news/featured.md
Due: none

change kyo to kyu
  src/routes/index.svelte
  src/routes/posts/kyu-6/11-pygame.md
  src/routes/posts/kyu-6/20-kultur.md
  src/routes/posts/kyu-6/30-netzwerk.md
  src/routes/posts/kyu-6/40-git.md
  src/routes/posts/kyu-6/50-mqtt.md
  src/routes/posts/kyu-6/60-loeten.md
  src/routes/posts/kyu-6/70-fragen.md
  src/routes/posts/kyu-6/80-arduino.md
  src/routes/posts/kyu-6/index.md
  src/routes/posts/kyu-7/01-schleifen.md
  src/routes/posts/kyu-7/02-variablennamen.md
  src/routes/posts/kyu-7/03-rechnen.md
  src/routes/posts/kyu-7/04-eingaben.md
  src/routes/posts/kyu-7/05-bedingungen.md
  src/routes/posts/kyu-7/06-variablentypen.md
  src/routes/posts/kyu-7/07-browser.md
  src/routes/posts/kyu-7/08-schleifen-binden.md
  src/routes/posts/kyu-7/09-debugger.md
  src/routes/posts/kyu-7/10-muenzwechsler.md
  src/routes/posts/kyu-7/11-loeten.md
  src/routes/posts/kyu-7/12-listen.md
  src/routes/posts/kyu-7/13-kultur.md
  src/routes/posts/kyu-7/14-uebung.md
  src/routes/posts/kyu-7/15-funtionen.md
  src/routes/posts/kyu-7/16-html.md
  src/routes/posts/kyu-7/17-exceptions.md
  src/routes/posts/kyu-7/18-hilfen.md
  src/routes/posts/kyu-7/19-gurtpruefung.md
  src/routes/posts/kyu-7/20-zusammenfassung.md
  src/routes/posts/kyu-7/index.md
  src/routes/posts/news/2022-09-01.md
  src/routes/posts/news/2022-11-26.md
  src/routes/posts/news/2023-01-14.md
  src/routes/posts/news/2023-09-23.md
  src/routes/posts/news/2023-10-22.md
Due: Lint, CD:Red, CD:Blue

add news to workshops
  src/routes/posts/workshops/index.md
Due: none

add ctf-workshop
  src/routes/posts/news/2023-10-29.md
Due: none

del wrong link in workshop
  src/routes/posts/news/2023-10-29.md
Due: none

add new dates
  src/routes/posts/news/2023-11-06.md
  src/routes/posts/news/2023-11-08.md
  src/routes/posts/news/2023-11-14.md
Due: none

add calliope-workshop
  src/routes/posts/news/2023-11-19.md
Due: none

change workshop calliope
  src/routes/posts/news/2023-11-19.md
Due: none

add hackathon esp
  src/routes/posts/news/2023-12-01.md
Due: none

add arduino workshop
  src/routes/posts/workshops/Arduino_1.md
Due: none

add code
  src/routes/posts/workshops/attiny.md
Due: none

corr
  src/routes/posts/workshops/attiny.md
Due: none

chore: stub commit
  .gitlab-ci.yml
Due: Lint, CD:Red, CD:Blue

fix: format code
  .gitlab-ci.yml
  src/routes/posts/news/2023-12-01.md
  src/routes/posts/workshops/attiny.md
Due: Lint, CD:Red, CD:Blue

add workshops
  src/routes/posts/news/2024-01-27.md
  src/routes/posts/news/2024-02-24.md
Due: none

corr format
  src/routes/posts/news/2023-12-01.md
  src/routes/posts/workshops/attiny.md
Due: none

small corr
  src/routes/about.md
Due: Lint, CD:Red, CD:Blue

add workshop clt
  src/routes/posts/news/2024-03-17.md
Due: none

Path conditions:
  Lint: any of: vite.config.js, .gitlab-ci.yml, prettier.config.js, src/*, src/*/*, src/*/*/*, mdsvex.config.js, package.json, postcss.config.cjs, svelte.config.js, tailwind.config.cjs, tsconfig.json
  CD:Red: any of: .gitlab-ci.yml, src/*, src/*/*, src/*/*/*, static/*, static/*/*, static/*/*/*, mdsvex.config.js, package.json, pnpm-lock.yaml, postcss.config.cjs, svelte.config.js, tailwind.config.cjs, tsconfig.json, vite.config.js
  CD:Blue: any of: .gitlab-ci.yml, src/*, src/*/*, src/*/*/*, static/*, static/*/*, static/*/*/*, mdsvex.config.js, package.json, pnpm-lock.yaml, postcss.config.cjs, svelte.config.js, tailwind.config.cjs, tsconfig.json, vite.config.js
